<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194624997967-cgn3p7mo5i07has0nfqlo2k7uhknfdtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194624997967-cgn3p7mo5i07has0nfqlo2k7uhknfdtq</string>
	<key>API_KEY</key>
	<string>AIzaSyAST1tHOesR4vFnNjAzMrdxO4cCu3Hene4</string>
	<key>GCM_SENDER_ID</key>
	<string>194624997967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>projectplanner-a</string>
	<key>STORAGE_BUCKET</key>
	<string>projectplanner-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194624997967:ios:fcacafd90138398775383a</string>
</dict>
</plist>